.page__about {

  .page__content {

    width: 90vw;
    transform: skew(28deg);

    > * {
      transform: skew(-28deg);

    }

    h1 {
      margin-left: 100px;
    }

    > hr {
      // margin-left: 57px !important;
      margin-left: 57px;
    }

    .page__content__text {
      padding: 0;
      margin-bottom: 100px;

      p {
        width: 70%;
        margin-left: 150px;

      }
    }


    .page__content__photo {
      width: 800px;
      height: 800px;
      position: absolute;
      z-index: -1;
      top: 200px;
      left: 50%;
      transform: skew(-28deg) translateX(-50%);

      img {
      }
    }

    .page__content__career {

      padding: 0 20px;
      margin-left: -200px;
      margin-bottom: 20vh;

      li {

        margin-bottom: 40px;
        width: 80%;
        opacity: 0;

        a {
          font-size: 1.4rem;
        }

        hr {
          margin-left: 0px;
          margin-top: 20px;
          margin-bottom: 0;
        }

      }
    }

    footer {
      padding: 0 300px;
    }

    @media screen and (max-width: $breakpoint-small) {

      width: 450px;
      height: 100vh;
      padding: 0 5vw;
      left: 0px;

      h1 {
        margin-left: 40%;
      }

      hr {
        margin-left: 30%;
      }

      .page__content__career {
        padding: 0 120px;
      }

      .page__content__text p {
        margin-left: 0;
      }


    }

    @media screen and (max-width: $breakpoint-extra-small) {

      left: -60px;
    }

  }
}
