.page__about {

  &__content {

    background: green;

    transform: skew(28deg);

    > * {
      transform: skew(-28deg);

    }

    p {

      margin-left: 150px;

      &:nth-of-type(2) {
        margin-left: 220px;

      }
    }

    &__photo {
      width: 800px;
      height: 800px;
      position: absolute;
      z-index: -1;
      top: 200px;
      left: 50%;
      transform: skew(-28deg) translateX(-50%);

      img {
      }
    }

  }
}
