.page__about {

  &__content {

    &__photo {
      width: 800px;
      height: 800px;
      position: absolute;
      z-index: -1;
      top: 200px;
      left: 50%;
      transform: skew(-28deg) translateX(-50%);

      img {
      }
    }
  }
}
