.menu {

  padding: 30px;
  width: 300px;
  max-width: 300px;
  height: 500px;
  position: fixed;
  right: -180px;
  top: 0;
  z-index: 10;

  * {
    user-select: none;
  }

  a {
    color: $black;
  }

  &__background {
    padding: 30px;
    width: 320px;
    max-width: 320px;
    height: 500px;
    position: fixed;
    right: -200px;
    top: 0;
    transition: $transition-time;

  }

  &__content {
    z-index: 1;
    position: absolute;
    right: 200px;

    &__logo {
      margin-left: -41px;
    }

    &__list {

      li {

        width: 90px;
        text-align: right;
        margin-bottom: 10px;
        font-size: 2.2rem;
        font-family: 'Playfair Display';
        transition: opacity $transition-time;
        margin-left: 27px;

        a {
          transition: opacity $transition-time;

          &:hover {
            font-weight: 900;
          }
        }
      }
    }
  }

  &--closed {

    .menu__background {
      max-width: 0;
    }

    .menu__content__list li {
      opacity: 0;
    }
  }

  &--landing {
    .menu__background {
      max-width: 320px;
    }

    .menu__content__list li {
      opacity: 1;
    }


  }

  .is-active {
    font-weight: 900;
  }
}
