* {
  font-family: 'Playfair Display', serif;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  letter-spacing: 2px;
  overflow: none;
  color: $white;

}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}


h1, h2, h3, h4, h5, h6 {
  user-select: none;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 11rem;
  color: $white;
  margin-bottom: 20px;
}

h2 {

  font-size: 2.5rem;
  font-family: 'Playfair Display', 'serif';
  margin-bottom: 70px;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
  line-height: 2;
  // width: 50%;
  margin-left: 200px;


}

a {
  text-decoration: none;
  transition: $transition-time;

  &:hover {
    opacity: 0.8;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

hr {
  width: 100px;
  border-color: $white;
  margin-bottom: 70px;
  margin-left: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.page {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;


  .page__content {
    width: 100vw;
    height: 100vh;
    background: $black;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: skew(-28deg);
    padding: 0 20vw;

    > * {
      transform: skew(28deg);

    }

    .page__content__text {

      margin-bottom: 100px;

      p {
        width: 70%;
        margin-left: 0px;
      }
    }

  }


}

.button {

  cursor: pointer;
  transform: skew(0deg) !important;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  color: $white;
  border: none;
  margin: 0 auto;
  display: block;

  h6 {
    transform: skew(28deg);
    text-align: center;
    font-size: 1.6rem;
    margin: 0;

    &:hover {
      tansform: skew(28deg) scale(1.5) !important;
    }
  }



}

// .switch-wrapper {
//   position: absolute;
//   top: 0;
// }
//
// .switch-wrapper > div {
//   position: absolute;
// }

.fade-enter {
  // opacity: 0;
  z-index: 1;
  left: 140%;
}

.fade-enter-active {
  // opacity: 1;
  left: 0;
  transition: 1s ease-in-out;
}

.fade-exit {
  // opacity: 1;
  left: 0;
}
.fade-exit-active {
  // opacity: 0;
  left: -140%;
  transition: 1s ease-in-out;
}


// .page__about {
//
//   .page__content {
//     // background: green;
//
//     transform: skew(28deg);
//
//     > * {
//       transform: skew(-28deg);
//
//     }
//
//     p {
//
//       margin-left: 150px;
//
//       &:nth-of-type(2) {
//         margin-left: 220px;
//       }
//     }
//   }
//
// }
